<!DOCTYPE html>
<html>

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Grid Example - Semantic</title>

    <link rel="stylesheet" type="text/css" href="../lib/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">

</head>

<body>
    <div class="ui five column grid">
        <div class="row"></div>
        <div class="row">
            <div class="five column"></div>
        </div>
        <div class="column"></div>
        <div class="column"></div>
        <div class="column">
            <form class="ui form" id="searchForm" name="mySearch">
                <h3 class="ui dividing header">Select the Card Name to Search</h3>
                <div class="two fields">
                    <div class="field">
                        <label>Card Name</label>
                    </div>
                    <div class="field">
                        <div class="ui transparent icon input">
                            <input type="text" placeholder="Search..." id="name_input" name="search">
                            <i class="search link icon" onclick="initSearch()"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="column"></div>
        <div class="column"></div>
    </div>
    <!------------------------------------------------------------------------->
    <!--    ----------------------------- CARD ----------------------------- -->
    <!------------------------------------------------------------------------->

    <div class="ui five column grid">
        <div class="column"></div>
        <div class="column"></div>
        <div class="column">
            <div class="ui special cards" id="cardContainer">
                <template id="selectedCard">
                    <div class="card">

                        <div class="content">
                            <img id="cardFamilyImgId" class="ui avatar image" src={{family_src}}> <span
                                id="cardFamilyNameId">{{family_name}} </span>
                        </div>
                        <div class="image imageCard">
                            <div class="blurring dimmable image">
                                <div class="ui inverted dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <div class="ui primary button">Add Friend</div>
                                        </div>
                                    </div>
                                </div>
                                <img id="cardImgId" class="ui centered tiny image" src={{img_src}}>
                            </div>
                        </div>
                        <div class="content">
                            <div class="ui form tiny">
                                <div class="field">
                                    <label id="cardNameId">{{name}}</label>
                                    <textarea id="cardDescriptionId" class="overflowHiden" readonly=""
                                        rows="5">{{description}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <i class="heart outline icon"></i><span id="cardHPId">{{hp}}</span>
                            <div class="right floated ">
                                <i class="lightning outline icon"></i>
                                <span id="cardEnergyId">{{energy}}</span>
                            </div>
                        </div>
                        <div class="content">
                            <span class="right floated">
                                <i class=" wizard icon"></i>
                                <span id="cardAttackId">{{attack}}</span>
                            </span>
                            <i class="protect icon"></i>
                            <span id="cardDefenceId">{{defense}} </span>
                        </div>

                    </div>
                </template>
            </div>
        </div>
    </div>
    <script src="../lib/jquery-3.3.1.min.js"></script>
    <script src="../lib/Semantic-UI-CSS-master/semantic.js"></script>
    <!-- <script src="js/searchCard.js"></script>  -->
    <script>
        let cards= [];
        fetch('https://asi2-backend-market.herokuapp.com/cards').then(res => res.json()).then(res => {
            cards = res
        });

        function getCard(name = "") {
            let card = cards.find(el => el.name.includes(name));
            return card;
        }
        
        const form = document.getElementById("searchForm");
        form.addEventListener('submit', function(e) {
            e.preventDefault();
            initSearch();
        })
        
        function initSearch() {
            const search_value = document.getElementById('name_input');

            const card = getCard(search_value.value);
            if (card) {

                let template = document.querySelector("#selectedCard");
                let clone = document.importNode(template.content, true);

                newContent = clone.firstElementChild.innerHTML
                    .replace(/{{family_src}}/g, card.smallImgUrl)
                    .replace(/{{family_name}}/g, card.family)
                    .replace(/{{img_src}}/g, card.imgUrl)
                    .replace(/{{name}}/g, card.name)
                    .replace(/{{description}}/g, card.description)
                    .replace(/{{hp}}/g, card.hp)
                    .replace(/{{energy}}/g, card.energy)
                    .replace(/{{attack}}/g, card.attack)
                    .replace(/{{defense}}/g, card.defence);
                clone.firstElementChild.innerHTML = newContent;

                let cardContainer = document.querySelector("#cardContainer");
                cardContainer.appendChild(clone);
            } else {
                alert("La carte n'existe pas");
            }

        }
    </script>
</body>

</html>


